.title{
    z-index: 1;
    width: 100%;
    /* https://www.smashingmagazine.com/2016/05/fluid-typography/ */
    font-size: calc( 1.4rem + (24 - 16) * (100vw - 400px) / (800 - 400) );
    font-family:  Raleway, "Fira Sans", 'Helvetica Neue', Arial, sans-serif;
    text-transform: uppercase;
    padding-bottom: 0.8rem;
    /*line-height: 0.5;*/
    flex-grow: 0;
    flex-shrink: 0;
}

.fondCarousel {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 100%;
    height: 75vh;
    max-height: 550px;
    overflow: hidden;
    text-align: center;

    background-color: #004080;
    background-image: linear-gradient(to top, rgba(0, 20, 80, .5), rgba(211, 250, 250, .05));
}

    /*background-repeat: repeat;
    background-position-x: calc(50% - 200px);*/
    /*background-image: linear-gradie nt(to top, rgba(0, 20, 80, .5), rgba(211, 250, 250, .05)),url(./trame-fond-03.png);*/