.offre {
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem;
  display: flex;
  flex-direction: row;
}

.textOffre{
  flex: 1;
}

.blocCta{
  flex-basis: 30%;
  flex-shrink: 1;
  display: flex;
  flex-flow: row;
  margin-left: 2rem;
}

.blocCtaJauge{
  position: relative;
  flex:1;
  /* ipad safari*/
  min-width: 3rem;
}

.blocCtaThermometre{
  width: 3rem;
  margin-right: 3rem;
}
.blocCtaThermIndicateur{
  position: absolute;
  top: 40%;
  right: 1.5rem;
  width: 2.5rem;
  transform-origin: top right;
  animation: osciller 1s ease-in-out infinite;
}

.blocCtaTexte{
}

.ctaTexte{
  font-weight: 600;
  color: var(--colorPrimaryDark);
  text-align: left;
  margin: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}
.boutonCta{
    display: table-cell;
    background-color: var(--colorPrimaryDark);
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 0.81rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
    vertical-align: middle;
    padding: 0 0.8rem;
    color: white;
    letter-spacing: 0.1rem;
}

.boutonCta:hover{
  transition: background-color 0.73s;
  background-color: cyan;
}
@media (max-width: 650px) {

  .offre{
    padding: 1rem;
    flex-flow: column;
  }


}


@keyframes osciller {
  0% {
    transform: translateY(0%) rotate(0) ;
  }
  50% {
    transform: translateY(18%) rotate(2deg) ;
  }
  100% {
    transform: translateY(0%) rotate(0deg) ;
  }
}