.page {
  display: flex;
  flex-direction: column;
  align-items: center;
    margin-top: 9rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  /*padding: 1rem 4.5rem;*/
  /*padding: 1rem 0.75rem;*/
}
