/* BOUTONS */

    .s0{
      fill:$couleur-logo;
      fill-opacity : 0.5;
    }
    .s1{
      fill: $couleur-fond-body ;
      stroke-width: 3 ;
      stroke: $couleur-logo ;
    }
    .s2{
      fill: none ;
      stroke-width: 4 ;
      stroke : $couleur-logo ;
    }
    .next:hover .s1,
    .prec:hover .s1,
    .close:hover .s1{
      fill:$couleur-fond-logo;
    }

  button:hover  .s1{
    fill:$couleur-fond-logo;
  }
