.content {
    display: block;
    width: 100vw;
    /*position: relative;*/

}

/* ajouter des media-queries */
/*
.portfolio {
    margin: 0;
}
@media (min-width: 650px) {
    .portfolio {
        margin: 0 8rem;
    }
}
*/