.content {
    display: block;
  /*flex: 1 1 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;*/
}

/* ajouter des media-queries */
.portfolio {
    margin: 0 8rem;
}
@media (max-width: 600px) {
    .portfolio {
        margin: 0 0rem;
    }
}
