.wrapper {

  /*display: flex;
  flex-direction: column;*/
  /*min-height: 100%;*/
  /*padding: 0 0 1rem ;*/
}


.paveImg{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 43%;

    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 1rem;
    background-color: red;
}

.title{
  position: absolute;
  margin: 0 10%;
  top: 3rem;
  left: 0rem;
  width: 50%;
  color: var(--colorLogo);
  font-family: "Abril Fatface", serif;
  font-weight: 900;
  font-size: 2.4rem;
  letter-spacing: 0.05em;
  line-height: 4.3rem;
}

.title span{
  	display: inline;
  	padding: 0.5rem 0rem;
    background-color: rgba(255,255,255,0.85);
    box-shadow: 
    2rem 0 0 rgba(255,255,255,0.85),
    -2rem 0 0 rgba(255,255,255,0.85);
    box-decoration-break: clone;
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 0 20% 4rem;
  padding-bottom: 2rem;
}

.readMore {
  padding-top: 1rem;
  font-size: 0.71rem;
  color: var(--colorPrimaryDark);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: thin solid ;
  text-decoration: none !important;
}

.readMore:hover{

}

@media (max-width: 650px) {

  .title{
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .title span{
    padding: 0;
    box-shadow: 
    1rem 0 0 rgba(255,255,255,0.85),
    -1rem 0 0 rgba(255,255,255,0.85);

  }

.description {
  text-align: justify;
  margin: 0 2rem 2rem;
}

}
