.conteneurCarousel{
    display: flex;
    /*position: absolute;*/
    justify-content: center;
    align-content: center;
}

.losange
{
    /*depend de la taille du losage !*/
    margin-top: 118px;
    border-bottom-left-radius: 14%;
    border-top-right-radius: 4%;
    overflow: hidden;
    transform: rotateZ(-37deg) skewX(16deg);
    background-color: rgba(83, 173, 221, 0.5);
    /*#53addd;*/
}

.contentsLosange
{
    position: absolute;
    overflow: hidden;
    background-color: red;
}

/*
la diagonale du losange est mesurée avec cette formule
coté : 390px
angle : 90 + rotation (16 degrés)
diagonale : 390 * ( Math.sin( 106 * Math.PI / 180)) * 2
resultat arrondi :750px
*/

.conteneurImg
{
    /*
transform-origin: center;
opacity: 0.8;
  transform: skewX(-16deg) rotateZ(37deg);
  will-change: transform, opacity;
  min-width: 750px;
  height: auto;
  */
}

img
{
    width: 100%;
}

.demix
{
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform, opacity;
    /*inverser les valeurs : trouver les formules adaptees*/
    transform: skewX(-16deg) rotateZ(37deg) translate(-21%, 9%);
    /*transform: skewX(-16deg) rotateZ(37deg) scale(1.234) translate(-8%,7%);*/
    transform-origin: center center;
}

.losangeImg{
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



/*
force le compositing du layer, sinon l'image disparait  sur les smartphones
*/
.losangeOverlay{
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.currentSlide
{
    opacity: 1;
}

.currentSlideOdd
{
    animation-name: tran-l-to-r ;
    /*animation-duration: 4s ;*/
    animation-timing-function: ease-out ;
    /*animation-delay: 1s;*/

    opacity: 1;
    background-color: yellow;
}

.contentsLosangeOdd
{
    transform: translateX(-100%) translateZ(0);

    opacity: 0;
}

.currentSlideEven
{
    animation-name: tran-r-to-l ;
    /*animation-duration: 4s ;*/
    animation-timing-function: ease-out ;
    /*animation-delay: 1s;*/
    opacity: 1;
    background-color: coral;
}

.contentsLosangeEven
{
    transform: translateY(-100%) translateZ(0);

    opacity: 0;
    background-color: magenta;
}

@keyframes tran-r-to-l
{
    0%
    {
        transform: translateY(100%) scale(1);
        opacity: 0;
    }

    20%
    {
        opacity: 1;
    }
    60%
    {
        opacity: 1;
    }
    100%
    {
        transform: translateY(-100%) scale(1.21);
        opacity: 0;
    }
}

@keyframes tran-l-to-r
{
    0%
    {
        transform: translateX(100%)  scale(1);;
        opacity: 0;
    }

    20%
    {
        opacity: 1;
    }
    60%
    {
        opacity: 1;
    }

    100%
    {
        transform: translateX(-100%) scale(1.1);
        opacity: 0;
    }
}
