.ref-wrapper,
.wrapper {
  display: flex;
  flex-direction: column;
  /*min-height: 100%;*/
  /*padding: 0 0 1rem ;*/
}

.ref-excerpt{
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.excerpt{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 1rem;
}

.paveImg{
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    transition: opacity 0.3s;
}

.ref-paveImg{
    position: relative;
    width: 100%;
    height: 550px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: cover;
    margin-bottom: 1rem;
}

.paveImg:hover{
    opacity: 0.5;
}
.ref-title{
  width: 50%;
  padding: 1rem;
  background: rgba(255,255,255,0.9);
  color: var(--colorLogo);
    font-family: "Abril Fatface", serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.05em;
  line-height: 120%;
}
.title {
  /*align-self: center;*/
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorPrimaryDark);
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.ref-description {
  position: absolute;
  top: 100%;
  display: block;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  padding-top: 1rem;
  font-size: 0.71rem;
  color: var(--colorPrimaryDark);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: thin solid ;
  text-decoration: none !important;
}

.readMore:hover{

}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: row;
    padding: 1rem;
  }

  .texte{
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .paveImg{
    flex-basis: 25vw;
    width: 25vw;
    padding-top: 25vw;
    margin-bottom: 0;
  }
  .readMore {
        width: 100%;
  }
  
}
