.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  /*max-width: 40rem;*/
  /*margin: 1rem auto;*/
  padding: 0 0 2rem ;
}

.paveImg{
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    transition: opacity 0.3s;
}

.paveImg:hover{
    opacity: 0.5;
}
.title {
  /*align-self: center;*/
  font-size: 1.1rem;
  font-weight: 900;
  line-height: 1.5;
  color: var(--colorPrimaryDark);
}

.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  margin-top: auto;
  padding-top: 1rem;
  display: inline-flex;
  /*margin-top: 1rem;*/
  border-radius: 3px;
  font-size: 0.71rem;
  color: var(--colorPrimaryDark);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /*text-align: center;*/
  border-bottom: thin solid ;
  text-decoration: none !important;
}

.readMore:hover{

}

@media (max-width: 600px) {
  .wrapper  a:first-child{
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-start;
    padding: 0;
  }
  .texte{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .paveImg{
    flex-basis: 25vw;
    width: 25vw;
    padding-top: 25vw;
    margin-bottom: 0;
  }
  .wrapper a + a{
    padding-top: 0;
    display: inline-block;
    text-align: right;
  }
  .readMore {
      margin-bottom: 2rem;
  }
}
