.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

   max-width: 40rem;
   margin: 0 auto;

  list-style: none;
  padding: 0;
}

.list:after {
    /*compenser un décalage du dernier item*/
    content: "";
    flex-basis:  calc(100%/3 - 0.2rem);
}

.item{
    display: flex;
    width: calc(100%/3 - 0.2rem);
    background-color: #eef3fb;
    margin-bottom: 0.2rem;
}

@media (max-width: 600px) {
    .list {
        margin: 1rem;
        flex-direction: column;
        /*flex-direction: row;*/
    }

    .list:after {
        content: "";
        flex-basis: 100%;
    }

    .item{
        flex-basis: 100%;
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 100%;
        width: 100%;
        /*outline: 1px solid cyan;*/
    }

}
