
/* ANIMATIONS
///////////////////////////////////////// */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  } to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

///////////////////////////

.slideInRight-appear,
.slideInRight-enter {
  transform: translate3d(100%,0,0);
}
.slideInRight-appear.slideInRight-appear-active,
.slideInRight-enter.slideInRight-enter-active {
  // background-color: red;
  transform: translate3d(0,0,0);
  transition: transform 1000ms;
}
.slideInRight-leave {
  transform: translate3d(0,0,0);
}
.slideInRight-leave.slideInRight-leave-active {
  transform: translate3d(-100%,0,0);
  transition: transform 1000ms;
}


///////////////////////////

.slideInBottom-appear{
  opacity: 0.1;
  //  background-color: blue;
}
.slideInBottom-appear.slideInBottom-appear-active{
  opacity: 1;
  transition: opacity 1000ms;
}

.slideInBottom-enter {
  position: absolute;
  transform: translate3d(0,100%,0);
}
.slideInBottom-enter.slideInBottom-enter-active {
  //  background-color: red;
  transform: translate3d(0,0,0);
  transition: transform 1000ms;
}
.slideInBottom-leave {
  position: absolute;
    // position: relative;
  transform: translate3d(0,0,0);
  opacity: 1;
}
.slideInBottom-leave.slideInBottom-leave-active {
  transform: translate3d(0,-100%,0);
  transition: all 1000ms;
  opacity: 0.1;
}



.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  // background-color: cyan;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

/////////////////////////
.fad2-enter {
  opacity: 0.01;
}

.fad2-enter.fad2-enter-active {
  background-color: cyan;
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fad2-leave {
  opacity: 1;
}

.fad2-leave.fad2-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.fad2-appear {
  opacity: 0.01;
}

.fad2-appear.fad2-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

//////////////////////////
// ETATS REACT TRANSITIONS
//////////////////////////

// OUVERTURE DU PANNEAU
.open-panel-enter {
  opacity: 0.01;
}
.open-panel-enter.open-panel-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.open-panel-leave {
  opacity: 1;
}
.open-panel-leave.open-panel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.open-panel-appear {
  opacity: 0.01;
}
.open-panel-appear.open-panel-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

// FONDU ENCHAINE
.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
 transition: height .5s ease-in-out;
}
