.contact-header{
  margin: 0 auto;
  h2{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.edit-overlay{
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.contact-modal {
  z-index: 1000;
  transform-origin: center;
  transform: translate( 0%, 100%);

  padding:5vw;
  opacity:1;
  transition: transform 0.3s;
  background: $couleur-fond-logo ;
  h2{
    margin: 0 ;
    text-align: center;
    color: $white;
  }
  fieldset{
      border: none;
  }
}

.contact-form-conteneur fieldset {
      border: none;
      margin: 0 auto;
}

.contact-modal.modal{
  // position:absolute;
  position:fixed;
  top:50%;
  left:50%;
transform: translate(-50%, -50%);
}

.contact-modal.close{
  opacity:0;
  // bottom:-100%;
  transform: translate(-50%, 100%);
}


// .ico-contact-close,
.contact-close
{
position: absolute;
top:1rem;
right: 1rem;
width: 40px;
// height: 20px;
}
.contact-close{
  background-color: transparent;
  border: none;
}

.form-contact{
  display: flex;
  flex-flow: column nowrap;

  label{
      display: block;
      font-size: 0.85rem;
      font-weight: 300;
      margin-top: 1rem;
      text-transform: uppercase;
  }

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea{
  flex:1;
  height: 5vh;
  width: 90vw;
  max-width: 40rem;
  font-size: 1.3rem;
  padding: 0.5rem;
  }
  textarea{
    height: 30vh;
    padding: 0.5rem;
  }
  input[type='submit']{
    display: block;
    margin: 0 auto;
    width: 20vw;
    height: 8vh;
    background-color: $white;
    border: 2px solid $couleur-logo ;
    border-radius: 0.25rem;
    outline: none;
    font-size:1.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    &:hover{
      background-color: $couleur-logo ;
      color: $white;
    }
  }

  .has-error input,
  .has-error textarea {
      border: 3px solid #d800ff;
  }

  .alert-success{
    color: #1AC2E6;
  }

  .contact-alert{
    width: 90vw;
    max-width: 40rem;
    margin: 0 auto;
  }

  .alert-danger,
  .error-block{
      color: #d800ff;
      margin-top: 0;
      // font-weight: bold;
      display: block;
  }
  // input[name="_gotcha"]{
  //   display: none;
  // }
}
