.contact-modal {
  z-index: 100;
  transform-origin: center;
  transform: translate( 0%, 100%);

  padding:5vw;
  opacity:1;
  transition: transform 0.3s;
  background: $couleur-fond-logo ;
  h2{
    margin: 0 ;
    text-align: center;
    color: $white;
  }
}


.contact-modal.modal{
  position:absolute;
  position:fixed;
  top:50%;
  left:50%;
transform: translate(-50%, -50%);
}

.contact-modal.close{
  opacity:0;
  // bottom:-100%;
  transform: translate(-50%, 100%);
}


// .ico-contact-close,
.contact-close
{
position: absolute;
top:1rem;
right: 1rem;
width: 40px;
// height: 20px;
}
.contact-close{
  background-color: transparent;
  border: none;
}

.form-contact{
  display: flex;
  flex-flow: column nowrap;

  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  select,
  textarea{
  flex:1;
  height: 5vh;
  width: 90vw;
  max-width: 40rem;
  margin-bottom: 2vh;
  font-size: 1.3rem;
  }
  textarea{
    height: 30vh;
  }
  input[type='submit']{
    display: block;
    margin: 0 auto;
    width: 20vw;
    height: 8vh;
    background-color: $white;
    border: 2px solid $couleur-logo ;
    border-radius: 0.25rem;
    outline: none;
    font-size:1.1rem;
    text-transform: uppercase;
    transition: background-color 0.3s;
    &:hover{
      background-color: $couleur-logo ;
      color: $white;
    }
  }
  input[name="_gotcha"]{
    display: none;
  }
}
