
/* ICONES
///////////////////////// */

.ico-item{
  position: relative;
  text-align: center;
  color:  $couleur-icon-text ;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 0.85em;
  white-space: nowrap;
  margin: 0 0 0 1rem ;

  & span{
    margin: 0 auto;
    display: block;
    width: 4rem;
    height: 3rem;
  }
  &:first-child{
    margin: 0;
  }
}
.ico-item:before:hover{
    content: "";
    position: absolute;
    display: block;
    top:0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $couleur-fond-logo;
    //z-index: -1;
  }
.ico-twitter{
  // background: url(icones/ico-twitter.svg) no-repeat;
}
.ico-linkedIn{
  // background: url(icones/ico-linkedIn.svg) no-repeat;
}
.ico-facebook{
  // background: url(icones/ico-facebook.svg) no-repeat;
}
.ico-article{
  // background: url(icones/ico-articles.svg) no-repeat;
}
.ico-portfolio{
  // background: url(icones/ico-portfolio.svg) no-repeat;
}
.ico-contact{
  // background: url(icones/ico-contact.svg) no-repeat;
}
.ico-apropos{
  // background: url(icones/ico-apropos.svg) no-repeat;
}
