
/*  POSTS
///////////////////////////////////////// */

.post-articles{
  margin: 0 auto ;
  padding: 5% 10% ;
  @media (min-width: 1000px){
    width: 80%;
    padding: 5% 5% ;
  }

  background-color: $couleur-fond-post ;
}

/*
#post-intro-wrapper{
  left:10%;
  right:10%;
  @media (min-width: 1000px){
    left: calc( (100vw - 1000px) / 2 + 100px) ;
    right: calc( (100vw - 1000px) / 2 + 100px) ;
  }
  padding: 5% 10% ;
  @extend .background-body ;
  background-color: $couleur-fond-post-opaque  ;

  &::before{
    position: absolute;
    z-index: -1;
    content: "";
    top:0;
    bottom:0;
    left:calc( -10% * 1.24 ) ;
    right: calc( -10% * 1.24 );
    @extend .background-body ;
    background-color: $couleur-fond-body ;

  }
}
*/

.post-titre{
@extend .font-heading ;
}

.post-intro{
  font-size: 1.2em;
  line-height: 1.5;
  color: $couleur-logo ;
  text-align: justify;
  font-weight: 500;
}
.post-articles li {
  list-style-type: circle;
  font-weight: 100;
  margin-left: 1rem;
}

.post-articles img {
  width:100%;
  border: thin solid $couleur-icon-text;
}
.img-wrapper{
}
.hero-post-img{
  width:166.66%;
  height: 270px;
  margin-left: -33.33%;
  margin-right: -33.33%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-hero-video-wrapper{
  position: relative;
  width: 126% ;
  margin: 1rem -13% ;
  @media (min-width: 1000px){
    width: 143.2%; /*166.66%;*/
    height: 300px;
    margin: 1rem -21.7%; /*-33.33% ;*/
  }
  overflow: hidden;
  & .gradient-filter{
    position: absolute;
    top:0;
    height: 102vh;
    width: 102vw;
    background-attachment:fixed ;
    background-image: linear-gradient(to top, rgb(111, 9, 113),  rgb(242, 171, 12) );
    opacity: 0.85;
    transition: opacity 1.8s;
  }
}

#post-hero-video{
  margin-bottom: -6px;
}

video.post-hero-video-pause + .gradient-filter{
  opacity: 0.4;
}

.pictos-wrapper{
  display: flex;
  margin: 2rem auto ;
  svg{
    margin-left: 2.5rem;
  }
  svg:first-of-type{
    margin-left: 0;
  }
}


a[href^='#note'] {
  text-decoration: underline;
  /*border-bottom: 2px solid currentcolor ;*/
  font-weight: bold;
  line-height: 1;
  color: $couleur-fond-logo ;
  vertical-align: super;
  font-size: 0.83em;
  margin-left: 0.2em;
}

aside.notes{

    width: 100%;
    margin-top: 4rem;
    border-top: 0.1rem solid $couleur-icon-text;

  h2{
    margin-top :1rem ;
  }
  ul{}

  li{
    list-style-position: outside;;
    list-style-type: decimal;
    /*text-indent: -1rem;*/
    margin-left: 1rem;

    a{
      text-decoration: underline;
      color: $couleur-logo ;
     }
  }

}

.post-suite{
  position: relative;
  background-color: $couleur-fond-logo;
  height: 30vh;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  a{
            flex:1;
  }

  a:nth-child(odd):before{
    width: 30px;
    height: 40px;
    content: "";
    position: absolute;
    left: 20px;
    //  background-image: url('icones/chevron-gauche.svg');
     background-size: 30px 40px;
  };

  a:nth-child(even){
    margin-left: 2rem;
    text-align: right;
    &:after{
      // background-image: url('icones/chevron-droit.svg');
      background-size: 30px 40px;
      width: 30px;
      height: 40px;
      content: "";
      position: absolute;
      top: 2rem;
      right: 1rem;
    }
  }
}

.sound-playYoutube{
  width: 100%;
  height: 3rem;
  padding-left: 4rem;
  line-height: 3;
  background: $couleur-icon-text ;
  // background-image: url('icones/play.svg');
  background-position: 0.5rem center ;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  &:hover{
    background-color: $couleur-fond-logo ;
  }
}
.youtube-iframe{
  width:100%;
  height: calc(60vw * 0.56) ;
  @media (min-width: 1000px){
    height: 336px ;
  }
  background: $couleur-icon-text ;
  opacity: 0;
  transition: opacity 0.5s;
}
