/*
.footer {
  text-align: center;
}
*/

.phenomicReference {
  font-size: 0.75rem;
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}

/*-------*/

.footer{
    display: flex;
    flex-flow: row nowrap;
    justify-content:center;
    margin-top: 4rem;
    height: 2rem;
  /*padding: 2rem  2rem  4rem;*/
  background-color: $couleur-fond-body ;
}

.siteLinks{
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.socialLinks{
  justify-content:flex-start;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem;
}

.icoItemSmall {
  position: relative;
  width: 2rem;
  margin-left: 2rem;
}

.icoItemSmall:first-child{
  margin-left: 0;
}

.icoItemSmall:hover:before{
  opacity: 1;
}

.icoItemSmall:before{
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: -50%;
  left: -1rem;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1AC2E6;
  opacity: 0;
  transition: opacity 0.3s;
}


@media(max-width:700px){
      .footer{
        flex-flow: row wrap;
        justify-content: center ;
        align-items: top ;
      }
      .socialLinks{
        order: 2;
        flex: 1 1 100%;
        justify-content: center;
        margin-bottom: 2rem ;
      }
      .siteLinks{
        order: 1;
        flex: 1 1 100%;
        justify-content: center;
      }
  }
