.header {
  display: flex;
  justify-content: center;
  opacity: 0.6;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.portfolioMarque{
  width: 100%;
  max-width: 40rem;
  padding: 1rem 1rem;
  margin: 0 auto;
}

.portfolioMarqueTitre {
    color: #1AC2E6;
    font-weight: 300;
}
.portfolioMarqueNom {

}
.portfolioMarqueTexte {

}

