.header {
  display: flex;
  justify-content: center;
  opacity: 0.6;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.cadreConteneur{
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.cadrePortfolio{
  /*z-index: 10;*/
  /*position: absolute;*/
  /*position: relative;*/
  width: 100vw;
  height: auto;
}

.portfolioMarque{
  width: 100%;
  max-width: 40rem;
  padding: 1rem 1rem;
  margin: 0 auto;
  color: var(--colorPrimaryDark);
}

.portfolioMarqueTitre {
    font-weight: 300;
}
.portfolioMarqueNom {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  
}
.portfolioMarqueTexte {

}

